body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(237, 251, 251, 1)
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

main {

    height: 100%;
}

#navBar {
    display: flex;
    flex-wrap: wrap;
    background-color: #ff3366;
    height: 100%;
    color: white;
    width: 70%;
    margin: 0 15% 0 15%;
    border: 2px solid transparent;
    border-radius: 5px;
}

#navBar a:hover {
    background-color: #b32347;
    width: 20%;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 5px;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    box-shadow: 6px 2px 10px #000000;
    width: 400px;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    background-color: #2EC4B6;
}

.dropdown {
    background-color: #2EC4B6;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
}